/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h2 {
   color: white;
    border-bottom: 4px solid red;
  }

  .login-container {
    background-color: rgba(255, 255, 255, 0.384);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

   
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .login-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  .forgot-password {
    text-align: left;
    font-size: 12px;
    margin-bottom: 15px;
  }
  
  .forgot-password a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-link {
    text-align: center;
    font-size: 12px;
  }
  
  .signup-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  } */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.background {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    opacity: 45%;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #050505;
}

.wrapper {
    width: 420px;
    background: transparent;
    background: url(rose-and-bruno-mars-apt-Cover-Art.jpg);
    color: #ffff;
    border-radius: 15px;
    padding: 50px 40px;
    border: 1px solid rgba(153, 50, 204, 0.5);
    box-shadow: 0px 0px 40px 11px  rgba(153, 50, 204, .5);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0; 
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffff;
    padding: 20px ;
}

.input-box input::placeholder {
    color: #ffff;
}

.input-box i  {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
} 

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #ffff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #ffff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #ffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .btn a{
    text-decoration: none;
    color: black;
    transition: .2s linear
}

.wrapper .btn:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, .2);
}

.wrapper .btn:active{
    opacity: 0.5;    
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
}  

.register-link p a:hover {
    text-decoration: underline;
}