* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.hero {
    position: relative;
    overflow: hidden;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    font-size: x-large;
}

.login-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.btn-signup {
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.5); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.btn-start {
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.5); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.btn-signup:hover{
    background: rgba(255, 255, 255, 0.1);
    color: #ddff00; 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5); 
    transform: scale(1.05); 
}


.btn-start:hover{
    background: rgba(255, 255, 255, 0.1);
    color: #000000; 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5); 
    transform: scale(1.05);

}
